@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #191c1d;

  --surface: #ffffff;
  --surface-container: #edeeef --primary: #000000;
  --secondary: #0058be;
  --accent: #3b82f6;
  --outline: #c6c6cd;
  --error: #f44336;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
